<footer>
    <div class="flex-center copyright-container">
      <p class="copyright">© 2022 <a href="https://cv.nourgaser.com" class="icon"> Nour Gaser</a>. All rights reserved.</p>
    </div>
    <div class="social flex-center">
      <div>
        <a href="https://facebook.com/nourgaser" target="_blank">
          <i class="fab fa-facebook-f icon"></i>
        </a>
        <a href="https://github.com/nourgaser" target="_blank">
          <i class="fab fa-github-alt icon"></i>
        </a>
        <a href="https://linkedin.com/in/nourgaser" target="_blank">
          <i class="fab fa-linkedin-in icon"></i>
        </a>
      </div>
      <div>
        <p class="social-text">/nourgaser</p>
      </div>
    </div>
  </footer>